@import "../helpers/contants";

.mal-layouts___light {
  @apply bg-bgPrimary #{!important};
}

.mal-layouts___dark {
  @apply dark:bg-bgPrimary-dark #{!important};
}

.mal-layouts {
  @apply relative h-full bg-bgPrimary dark:bg-bgPrimary-dark;

  min-width: 320px;
  overflow-x: hidden;
}

.mal-layouts-fix_navbar {
  height: calc(100% - 74px);

  @media (min-width: 992px) {
    height: calc(100% - 64px);
  }
}

.layout-onus {
    @apply relative h-full bg-onus dark:bg-onus text-onus;

    min-width: 320px;
    overflow-x: hidden;
}
.term-mobile-view {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
  padding: 0 15px;
}

.term-mobile-view-v2::-webkit-scrollbar {
  display: none;
}

.term-mobile-view-v2 {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}