@import "../helpers/contants";

.mal-layouts___light {
  @apply bg-background #{!important};
}

.mal-layouts___dark {
  @apply dark:bg-background-dark #{!important};
}

.mal-layouts {
  @apply relative h-full bg-background dark:bg-background-dark;

  min-width: 320px;
  overflow-x: hidden;
}

.mal-layouts-fix_navbar {
  height: calc(100% - 74);

  @media (min-width: 992px) {
    height: calc(100% - 64);
  }
}
