.mal-footer {
  @apply bg-white dark:bg-dark-dark;

  .mal-footer__wrapper {

padding-block:48px;
@media screen and (min-width:1024px) {
  padding-inline:16px;
  padding-bottom: 80px;
  padding-top:60px;

}
    .mal-footer___pocket {
      @apply justify-between;
      .mal-footer___pocket___company {
        .mal-footer___pocket__logo {
          // img {
          //   width: 150px;
          //   height: auto;
          // }
        }

        .mal-footer___pocket__slogan {
          @apply text-white;

          margin-top: 14px;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
        }

        .mal-footer___pocket__license {
          @apply hidden;
        }
      }


      .mal-footer___pocket__links___group {

        margin-top: 32px;


        .mal-footer___pocket__links___group__item {
          margin-bottom: 16px;


          canvas {
            border-radius:6px;
          }
          .mal-footer___pocket__links___group__item__expander {
            @apply dark:text-txtPrimary-dark text-txtPrimary flex flex-row items-center justify-between px-4 py-3;
           @media screen and (min-width:1200px) {
            @apply px-0;
           }
          
            &:hover {
              @apply bg-hover dark:bg-hover-dark;
            }
            &.item_community {
              @apply cursor-default;
              &:hover {
                @apply bg-transparent ;
              }
            }

            ~ .socials_link  {
            @apply px-4;
            }

            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            cursor: pointer;
            white-space: nowrap;

            svg {
              @apply text-white;
            }
          }

          .mal-footer___pocket__links___group__item__links {
            // @apply flex flex-row flex-wrap;

            // margin-top: 8px;
            max-height: 0;
            overflow: hidden;
            transition: max-height .3s ease;



            a {
              @apply text-sm py-3 block;
                  padding-left:48px;


              @media screen and (min-width:1200px) {
                @apply  py-0 pl-0;

                }

              margin-top: 8px;
              font-weight: 500;
              font-size: 12px;
              line-height: 20px;

              &:hover {
                @apply text-dominant;
              }
            }
          }

          .mal-footer___pocket__links___group__item__links__active {
            // @apply text-txtPrimary-dark ;
            max-height: 40em;


          }
        }
      }
    }
  }


  .mal-footer___desktop {
    .mal-footer___pocket .mal-footer___pocket___company .create__account {
      //width: 210px !important;


    }


    .mal-footer___pocket {
      @apply flex flex-row;


      .mal-footer___pocket___company {
        @apply w-1/3;

        .mal-footer___pocket__slogan {
          margin-top: 24px;
        }

        .mal-footer___pocket__license {
          @apply block text-gray-2;

          margin-top: 47px;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
        }
      }

      .mal-footer___pocket__links___group {
        @apply w-3/4 flex flex-row justify-between;

        margin-top: 0;

        .mal-footer___pocket__links___group__item {

          .mal-footer___pocket__links___group__item__expander {
            @apply text-txtPrimary dark:text-txtPrimary-dark capitalize text-sm font-semibold;


            pointer-events: none;

            svg {
              @apply hidden;
            }
          }

          .mal-footer___pocket__links___group__item__links {
            @apply text-txtSecondary dark:text-txtTextBtn-tonal_dark;
            max-height: 40em !important;

            a {
              // @apply w-full;
          display:block;

              font-size: 14px;
              margin-top: 14px;
            }
          }
        }
      }
    }
  }
}
