.mal-footer {
  @apply bg-white dark:bg-dark-dark;

  .mal-footer__wrapper {

padding-block:48px;
@media screen and (min-width:1024px) {
  padding-inline:16px;
  padding-bottom: 80px;
  padding-top:60px;

}
    .mal-footer___pocket {
      @apply justify-between;
      .mal-footer___pocket___company {
        .mal-footer___pocket__logo {
          // img {
          //   width: 150px;
          //   height: auto;
          // }
        }

        .mal-footer___pocket__slogan {
          @apply text-white;

          margin-top: 14px;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
        }

        .mal-footer___pocket__license {
          @apply hidden;
        }
      }


      .mal-footer___pocket__links___group {

        .mal-footer___pocket__links___group__item {
         @apply mt-2;
          &:first-child {
            @apply mt-0;
          }

          @media screen and (min-width:1200px) {
            @apply mt-0;
          }
          
          canvas {
            border-radius:6px;
            box-shadow:0 23.2px 32.5px 0 rgba(0, 0, 0, 0.03), 0 0 4.6px 0 rgba(0, 0, 0, 0.05);
          }
          .mal-footer___pocket__links___group__item__expander {
            @apply dark:text-txtPrimary-dark text-txtPrimary flex flex-row items-center justify-between px-4 py-3;
           @media screen and (min-width:1200px) {
            @apply px-0;
           }
          
            &:hover {
              @apply bg-hover dark:bg-hover-dark;
            }
            &.item_community {
              @apply cursor-default;
              &:hover {
                @apply bg-transparent ;
              }
            }
            ~ .socials_link  {
            @apply px-4;  
             }
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            cursor: pointer;
            white-space: nowrap;        
          }

          .mal-footer___pocket__links___group__item__links {  
            max-height: 0;
            overflow: hidden;
            transition: max-height .3s ease;
            a {
              @apply text-sm mt-2 py-3 block;
              
              padding-left:48px;      
              font-weight: 500;
              line-height: 20px;
              @media screen and (min-width:1200px) {
                @apply p-0 text-sm;
              }
              &:hover {
                @apply text-dominant;
              }
            }
          }

          .mal-footer___pocket__links___group__item__links__active {
            max-height: 40em;
          }
        }
      }
    }
  }


  .mal-footer___desktop {
    .mal-footer___pocket .mal-footer___pocket___company .create__account {
      //width: 210px !important;


    }


    .mal-footer___pocket {
      @apply flex flex-row;


      .mal-footer___pocket___company {
        @apply w-1/3;

        .mal-footer___pocket__slogan {
          margin-top: 24px;
        }

        .mal-footer___pocket__license {
          @apply block text-gray-2;

          margin-top: 47px;
          font-size: 14px;
          line-height: 24px;
        }
      }

      .mal-footer___pocket__links___group {
        @apply w-3/4 flex flex-row justify-between;

        margin-top: 0;

        .mal-footer___pocket__links___group__item {

          .mal-footer___pocket__links___group__item__expander {
            @apply text-txtPrimary dark:text-txtPrimary-dark capitalize text-sm font-semibold py-0 mb-4;
            pointer-events: none;
            svg {
              @apply hidden;
            }
          }
          .mal-footer___pocket__links___group__item__links {
            @apply text-txtSecondary dark:text-txtSecondary-dark;
            max-height: 40em !important;
            a {
              @apply mt-2;
              &:first-child {
                margin-top: 0px !important;
              }
              @media screen and (min-width:1200px) {
                @apply mt-3;
              }
              display:block;
              font-size: 14px;
            
              
            }
          }
        }
      }
    }
  }
}
