.market-body-padding-x {
  padding-left: 4.375px;
  padding-right: 4.375px;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  @apply cursor-pointer;
}

// .rc-table-ping-left {
//   box-shadow: inset 10px 0 8px -8px red !important;
// }