.text-nao-gradient  {
    background: linear-gradient(101.26deg, #093DD1 -5.29%, #49E8D5 113.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}