
// .tooltip-caret-left {
//     position: absolute;
//     width: 0;
//     height: 0;
//     border-top: 5px solid transparent;
//     border-bottom: 5px solid transparent;
//     border-right: 5px solid #1c232e; /* Màu của caret */
//     left: -5px; /* Đặt vị trí bên trái của caret */
//     top: 50%; /* Đặt vị trí dọc của caret */
//     transform: translateY(-50%); /* Điều chỉnh vị trí dọc của caret */
// }

.tooltip-caret-left {
    position: absolute;
    // width: 0;
    // height: 0;

    border-radius: 50%; /* Create a circular shape */
    border: 2px solid red; /* Set the border width and color */


    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #1c232e; /* Màu của caret */
    left: -5px; /* Đặt vị trí bên trái của caret */
    top: 50%; /* Đặt vị trí dọc của caret */
    transform: translateY(-50%); /* Điều chỉnh vị trí dọc của caret */
}

.tooltip-caret-right {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #1c232e; /* Color of the caret */
    right: -5px; /* Set the position on the right side */
    top: 50%; /* Set the vertical position of the caret */
    transform: translateY(-50%); /* Adjust the vertical position of the caret */
}
